/* CSS imports */
/* must import reset.css first */
@import url("./styles/reset.css");
@import url("./styles/header.css");
@import url("./styles//about.css");
@import url("./styles/portfolio.css");
@import url("./styles/cta.css");
@import url("./styles/contact.css");
@import url("./styles/footer.css");
/* @import url("./styles/slider.css");
@import url("./styles/service.css"); */

/* CSS Variables */
:root {

	/* colors */
	--primary-color: #1461FF;
	/* --secondary-color:  #ACC7FF; */
	--secondary-color: ##f4f4f4;
	--bg-color: #FFFFFF;
	--text-color: #222222;
	--text-color2: #FFFFFF;
	/* --backdrop-color: #FAFAFA; */
	--backdrop-color: #777;

}

/* Global */
* {
	margin: 0;
	padding: 0;
	font-family: 'poppins', sans-serif;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	word-wrap: break-word;
	scroll-behavior: smooth;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	/* background: var(--bg-color); */
	/* color: var(--text-color); */

	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	letter-spacing: 0.5px;
	color: #777;
	overflow-x: hidden;
	margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
	color: #000;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	padding: 0;
	list-style: none;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: none;
	outline: none;
}

section {
	padding: 0.8rem 2rem;
}

.section-title {
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.section_heading {
	width: 100%;
	text-align: center;
	padding-top: 1em;
}

.section_heading strong {
	background-color: #1461ff;
	border-radius: 10px;
	padding: 5px 10px;
	color: #000;
}

strong {
	color: #1461ff;
	font-size: 30px;
	background: #fff;
	padding: 4px 18px;
	border-radius: 5px;
}

/* Start Section-Padding */
/* .section_padding {
	padding: 100px 0;
}

.pb_70 {
	padding-bottom: 70px;
} */

/* End Section-Padding */
/* Start Section-Heading */
/* .section_heading {
	padding-bottom: 100px;
} */

.section_heading strong {
	background: #1461ff;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 10px;
	border-radius: 5px;
	padding: 10px 15px;
}

.section_heading h2 {
	font-size: 42px;
	font-weight: 600;
	color: #222;
	/* margin-top: 5px; */
	margin-bottom: 10px;
}

.section_heading .sm_border {
	display: block;
	height: 2px;
	width: 70px;
	margin-bottom: 15px;
	bottom: -15px;
	position: relative;
	left: 50%;
	background-color: #1461ff;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.section_heading span {
	font-weight: 400;
	color: #1461ff;
}

.section_heading p {
	/* margin-bottom: 20px; */
	margin: 0 auto;
	/* max-width: 700px; */
}

/* End Section-Heading */

/* Start Btn-Style */
.banner_content .banner_btn {
	padding: 13px 41px;
	font-size: 18px;
	font-weight: 600;
	border-radius: 0;
	letter-spacing: 0.6px;
	margin-bottom: 45px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.banner_content .banner_btn:hover {
	background: #1461ff;
	color: #fff;
	border-color: #1461ff;
}

.main_btn {
	color: #fff;
	font-size: 14px;
	margin-top: 30px;
	text-transform: capitalize;
	padding: 23px 40px;
	letter-spacing: 0.6px;
	font-weight: 600;
	background: linear-gradient(-45deg, rgba(88, 195, 255, .8) 0, rgba(0, 77, 230, .8) 40%, rgba(0, 59, 177, .8) 100%);
	line-height: 10px;
	border: none;
	border-radius: 30px;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out 0s;
}

.main_btn:focus,
.main_btn:hover {
	color: #1461ff;
	background: #fff;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 25px;
}

.blog-info .blog_btn {
	padding: 20px 30px;
}

/* ----------------------------------------------------------------
 [ End Buttons ]
-----------------------------------------------------------------*/