/* Reset styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body styles */
body {
	font-family: Arial, sans-serif;
}

.slider-container {
	position: relative;
	overflow: hidden;
}

.slider {
	display: flex;
	width: auto;
	transition: transform 0.5s ease;
}

.slider .slide {
	flex: 0 0 20%;
	margin: 0 15px;
	height: 400px;
	text-align: center;
	color: white;
	position: relative;
	background-size: cover;
	background-position: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.prev,
.next {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	background: green;
	border: none;
	font-size: 30px;
	color: white;
	cursor: pointer;
}

.prev {
	left: 10px;
}

.next {
	right: 10px;
}

.slider .slide:hover {
	transform: scale(1.05);
}

.slider h3,
.slider p {
	margin: 0;
}

.slider p {
	margin-top: 10px;
}

.slider .icons {
	margin-top: 10px;
}

.slider .icons a {
	color: white;
	margin: 0 10px;
	font-size: 20px;
}


/* Enlarged image styles */
.enlarged-image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 1000;
}

.enlarged-image img {
	width: 60%;
	height: auto;
	border-radius: 0;
}

.enlarged-image p {
	color: white;
	margin-top: 20px;
	text-align: center;
}

.close-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	background: none;
	border: none;
	font-size: 30px;
	color: white;
	cursor: pointer;
}

/* Contact section styles */
.contact {
	padding: 50px;
	background-color: #f4f4f4;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contact h2 {
	width: 100%;
	text-align: center;
}

.contact .contact-info,
.contact form {
	width: 50%;
	margin-top: 20px;
}

.contact .contact-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact .contact-info div {
	margin: 20px 0;
	text-align: center;
	display: flex;
	align-items: center;
}

.contact .contact-info div i {
	margin-right: 10px;
}

.contact form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact form input,
.contact form textarea {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
}

.contact form button {
	padding: 10px 20px;
	background-color: #003366;
	color: white;
	border: none;
	cursor: pointer;
}

/* Footer styles */
.footer {
	background-color: #003366;
	color: white;
	padding: 20px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer .social-icons {
	margin-top: 10px;
}

.footer .social-icons a {
	color: white;
	margin: 0 10px;
	font-size: 20px;
}