/* Header SECTION  */
header {
	background: transparent;
	color: #fff;
	padding: 1.1rem 0;
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 1000;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 3rem;
}

header h1 {
	font-size: 30px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}

/* Hamburger Menu Styles */
.hamburger {
	display: none;
	background: none;
	border: none;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
	position: relative;
	z-index: 2000;
}

/* sticky navbar */

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	color: #000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

.sticky a {
	color: #000;
}

.sticky h1 {
	color: #000;
}

.navbar-transparent {
	/* background: transparent; */
	color: #000;
	transition: background-color 0.5s ease-in-out;
}

.navbar-transparent a {
	color: #fff;
}

.navbar-transparent.sticky a {
	color: #000;
	font-size: medium;
	font-weight: 700;
}

nav ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

nav li {
	margin-left: 2rem;
}


nav a {
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: medium;
	position: relative;
	transition: color 0.3s;
}

nav a.active {
	color: #007bff;
}

nav a::after {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	display: block;
	margin-top: 5px;
	right: 0;
	background: #007bff;
	transition: width 0.3s ease, right 0.3s ease;
}

nav a:hover::after {
	width: 100%;
	right: 0;
}

.sticky nav a {
	color: #000;
}

.sticky nav a.active {
	color: #007bff;
}

.sticky nav a::after {
	background: #007bff;
}

.sticky nav a:hover::after {
	width: 100%;
	right: 0;
}

/* Mobile Styles */

@media (max-width: 768px) {
	.navbar-transparent {
		background: #fff;
	}

	.navbar-transparent a {
		color: #000;

		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}

	.navbar-transparent h1 {
		color: #000;
	}

	.hamburger {
		display: block;
		color: #000;
	}

	nav {
		display: none;
		position: absolute;
		top: 60px;
		right: 0;
		background: #fff;
		color: #000;
		width: 100%;
		text-align: center;
	}

	nav.active {
		display: block;
	}

	nav ul {
		flex-direction: column;
		padding: 1rem 0;
	}

	nav li {
		margin: 0.5rem 0;
		border-top: .5px solid #007bff;
		padding-top: 5px;
	}

	/* 
	nav li:not(:first-child) {
		border-top: .5px solid #007bff;
	} */

	nav a {
		color: #000;
	}
}

/* Home SECTION  */
section#home {
	background-image:
		linear-gradient(to right, #007bff, rgba(0, 0, 0, 0.2)),
		url('../images/img1.jpg');
	background-position: center right;
	background-repeat: no-repeat;
	background-size: none;
	color: #fff;
	text-align: left;
	padding-top: 8rem;
	padding-bottom: 8rem;
	padding-left: 10rem;
	width: 100vw;
	height: 100vh;
	position: relative;
}

/* section#home h2 {
	font-size: 3rem;
	color: #1461ff;
	font-size: 30px;
	background: #fff;
	padding: 4px 18px;
	border-radius: 5px;
	max-width: 150px;
} */

.home-content {
	margin-top: 100px;
}

.home-content strong {
	color: #1461ff;
	font-size: 40px;
	background: #fff;
	padding: 5px 18px;
	border-radius: 5px;
}

.home-content span {
	color: #fff;
	font-size: 30px;
	background: #1461ff;
	padding: 4px 18px;
	border-radius: 5px;
}

.home-content h1 {
	font-size: 5rem;
	padding: 1rem 0;
	/* background: #1461ff; */
	color: #fff;
}

.home-content h3 {
	font-size: 2.5rem;
	padding: 1rem 0;
	/* background: #1461ff; */
	color: #fff;
}

section#home p {
	font-size: 1.2rem;
	margin-top: 1rem;
	/* max-width: 600px; */
	color: #fff;
	/* margin-left: auto;
	margin-right: auto; */
}

.social-links {
	margin-top: 1rem;
}

.social-links a {
	margin: 0 0.5rem;
	color: #fff;
	font-size: 32px;
	transition: color 0.3s;
}

.social-links a:hover {
	/* color: #007bff; */
	background: #fff;
	border-color: #fff;
	color: #1461ff;
}

/* Mobile Styles for Home Section */
@media (max-width: 768px) {
	section#home {
		padding-left: 2rem;
		text-align: center;
		height: 60vh;
		background-image:
			linear-gradient(to right, #007bff, rgba(0, 0, 0, 0.2));
	}

	.home-content {
		margin-top: 2rem;
	}

	.home-content strong {
		color: #1461ff;
		font-size: 30px;
		background: #fff;
		padding: 3px 12px;
		border-radius: 4px;
	}

	.home-content span {
		color: #fff;
		font-size: 20px;
		background: #1461ff;
		padding: 3px 12px;
		border-radius: 4px;
	}

	.home-content h1 {
		font-size: 3rem;
		padding: 0.5rem 0;
	}

	.home-content h3 {
		font-size: 1.5rem;
		padding: 0.5rem 0;
	}

	.home-content h3 strong {
		line-height: 1.2;
	}
}


/*  */